body {
  background-color: #f3f3f9;
}
/* .main-container {
  width: 100%;
} */

.table-one-container,
.table-two-container {
  width: calc((100% - 40px) / 2);
  height: 500px;
  float: left;
  margin: 20px 10px;
  padding: 40px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.table-one-container h3,
.table-two-container h3 {
  color: #495057;
  font-weight: bold;
}

.table-one-container h3,
.table-two-container h3 {
  margin-top: 0;
}

.table-one-container p,
.table-two-container p {
  color: #898ea5;
}

.table-one-container p span,
.table-two-container p span {
  color: #f77dac;
  font-size: 0.85rem;
}

.table-one,
.table-two {
  width: 100%;
  margin: 20px auto;
  border: none;
  border-collapse: collapse;
}

.table-one th,
.table-one td {
  margin: 10px auto;
  border: none;
  border-bottom: 2px solid #b3b0b0;
  padding: 20px;
  text-align: left;
}

.table-one a {
  color: #0bb5a0;
  text-decoration: none;
}

.table-one .id {
  color: #101a54;
}

.table-two th,
.table-two td {
  margin: 10px auto;
  border: none;
  border-bottom: 2px solid #b3b0b0;
  padding: 20px;
  text-align: left;
}

.table-two .gray {
  background-color: #f0f0f0;
}

.table-two a {
  color: #0bb5a0;
  text-decoration: none;
}

.table-two .id {
  font-weight: bold;
}

.table-two span {
  font-size: 13px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.table-two .confirmed {
  background-color: #0ab39c;
}

.table-two .waiting {
  background-color: #f7b84b;
}

.table-two .cancelled {
  background-color: #f06548;
}
