@use "../general/general.scss";
@use "../variables/colors";
@use "../variables/mixin";

body {
  @include mixin.responsive(medium) {
    display: block;
  }
}

.container {
  width: 90%;
  display: flex;
  @include mixin.responsive(medium) {
    width: 100%;
    display: block;
    padding: 20px;
  }

  .card {
    @include mixin.centered-content;
    @include mixin.box-shadow;
    flex: calc(100% / 3);
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    margin: 15px;

    .card-header {
      position: relative;
      @include mixin.horizontal-line(
        calc(20px * 2),
        colors.$h-line-bg,
        unset,
        unset,
        -20px,
        -20px
      );
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 40px;

      h3 {
        color: colors.$headings;
      }
      a {
        color: colors.$paragraphs;
        text-decoration: none;
      }
    }
  }

  .card-content {
    position: relative;
    @include mixin.centered-content;
    @include mixin.horizontal-line(
      calc(20px * 2),
      colors.$h-line-bg,
      unset,
      unset,
      -20px,
      -20px
    );
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;

    .profile-pic {
      width: 30%;
      margin-bottom: 10px;

      @include mixin.responsive(large) {
        width: 35%;
      }
      @include mixin.responsive(medium) {
        width: 15%;
      }
      @include mixin.responsive(small) {
        width: 20%;
      }
      @include mixin.responsive(xsmall) {
        width: 30%;
      }

      img {
        width: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }

    h3 {
      color: colors.$headings;
    }
    p {
      color: colors.$paragraphs;
    }
  }

  .card-footer {
    a {
      margin: 5px;
      font-size: 0.9rem;
      text-decoration: none;
      &.facebook {
        color: #1877f2;
      }
      &.whatsapp {
        color: #25d366;
      }
      &.linkedin {
        color: #0077b5;
      }
      &.slack {
        color: #e01563;
      }
    }
  }
}
