@mixin centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin radius {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@mixin box-shadow {
  @include radius;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

@mixin button-style {
  @include radius;
  width: 100%;
  padding: 10px;
  background-color: #0ab39c;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

@mixin horizontal-line($padding, $bg-color, $top, $right, $bottom, $left) {
  &::after {
    content: "";
    height: 0.1rem;
    width: calc(100% + $padding);
    background-color: $bg-color;
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
}

@mixin responsive($breakpoint) {
  @if $breakpoint == xsmall {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $breakpoint == small {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == xlarge {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $breakpoint == xxlarge {
    @media (max-width: 1400px) {
      @content;
    }
  }
}
